<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="sdg"
            id="sdg">
      </category>
      <wizard
            name="Liferay Spring portlet"
            icon="icons/sample.gif"
            category="sdg"
            class="com.sdg.eclipse.LiferaySpringPortletWizard"
            id="com.sdg.eclipse.liferay.spring">
      </wizard>
   </extension>

</plugin>
