<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Liferay"
            id="com.liferay.ide.newWizards">
      </category>
      <wizard
            name="Liferay Spring MVC Portlet by SolutionDesign.com"
            icon="icons/sample.gif"
            category="com.liferay.ide.newWizards"
            class="com.solutiondesign.eclipse.liferay.springmvcwizard.LiferaySpringMvcPortletWizard"
            id="com.solutiondesign.eclipse.liferay.springmvcwizard">
      </wizard>
	  <!-- menuContribution
	         locationURI=
	         "popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	         <command
	               commandId="myplugin.command.mycommand"
	               icon="icons/etool16/mycommand.png"
	               label="Run mycommand"
	               mnemonic="M1+P"
	               tooltip="Do something with this project">
	         </command>
	    </menuContribution -->
   </extension>

</plugin>
